<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>サンプル</title>
    <link rel="stylesheet" href="../../css/default.css" />
    <script type="text/javascript">
        function depart() {
            var p = myform.place.value;
            window.alert(p + "から出発します");
        }
    </script>
</head>
<body>
    <h1>データベースからデータの一覧を取り出すデバッグ用ページ</h1>
    <h2>ユーザーデータベースのデータ一覧</h2>
    <p>
    <% @user.each do |user| %>
    [id] <%= user.id %>, [名前] <%= user.name %>, [イーメール] <%= user.email %>, [UUID] <%= user.uuid %><br />
    <% end %>
    </p>
    
    <h2>イベントデータベースのデータの一覧</h2>
    <p>
    <% @event.each do |event| %>
    [id] <%= event.id %>, [行先] <%= event.eventname %>, [説明] <%= event.explain %><br />
    <% end %>
    </p>

    <h2>中間テーブルのデータ一覧</h2>
    <p>
    <% @userevent.each do |usev| %>
    [id] <%= usev.id %>, [行先] <%= usev.user_id %>, [説明] <%= usev.event_id %><br />
    <% end %>
    </p>

    <h2>ユーザーデータベースとイベントデータベースの関連付け</h2>
    <p>
    <% @user.each do |user| %>
        <% user.userevent.each do |ue| %>
            [名前] <%= user.name %>, [行先] <%= ue.event.eventname %><br />
        <% end %>
    <% end %>
    </p>

    <form name="myform" action="Sample1.html">
        <input type="text" name="place" />
        <input type="button" value="表示" onclick="depart()" />
    </form>
    
</body>
